Jinja2==2.7.3
MarkupSafe==0.23
Pygments==2.0.2
backports.ssl-match-hostname==3.4.0.2
certifi==2015.04.28
gnureadline==6.3.3
ipython==3.1.0
jsonschema==2.4.0
mistune==0.5.1
ptyprocess==0.4
pyzmq==14.6.0
terminado==0.5
tornado==4.1
wsgiref==0.1.2
